
/ {
    mist: mist {
        compatible = "gpio-leds";
        mist_pin: mist_pin {
            gpios = <&gpio0 0 GPIO_ACTIVE_HIGH>;
        };
    };

    fan: fan {
        compatible = "gpio-leds";
        fan_pin: fan_pin {
            gpios = <&gpio0 1 GPIO_ACTIVE_HIGH>;
        };
    };
};



&pinctrl {
    i2c0_default: i2c0_default {
        group1 {
            pinmux = <I2C0_SDA_GPIO8>, <I2C0_SCL_GPIO9>;
            bias-pull-up;
            drive-open-drain;
            output-high;
        };
    };
};

&i2c0 {
    status = "okay";
    clock-frequency = <I2C_BITRATE_FAST>;
    pinctrl-0 = <&i2c0_default>;
    pinctrl-names = "default";

    sht3x: sht3x@44 {
        compatible = "sensirion,sht3xd";
        reg = <0x44>;
    };
};
